server {
  listen 3000;               # Listen on port 3000 instead of 80
  listen [::]:3000;          # Also listen on port 3000 for IPv6 connections
  
  root /home/ubuntu/app-deploy/build;  # Path to your React build directory
  
  location / {
    try_files $uri /index.html;  # Serve the index.html file for any request
  }
}
